.col {
    width: 100%;
    margin-top: 30px;
  }
  
.farm-about_container{
  width: 100%;
  padding-top: 0;
}

  .trib-text{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  #trib-desc{
    font-size: 16px;
    margin-left: 10px;
    line-height: 24px;
    width: 100%;
  }
  
  .top-line {
    color: #8AAB62;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .heading {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 100;
    color: #000000;
  }
  
  .dark {
    color: #1c2237;
  }

  .desc{
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 35px;
  }
  
  
  .infographic-text {
    max-width: 100%;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .icons {
    color: #008798;
  }


  .iconssvg{
    width: 25px;
    margin-top: 0;
    margin-right: 5px;
    
  }
  