/* .pricing__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #b97a7a;
} */

.pricing__container-card {
  width: 280px;
  height: 100px;
  text-decoration: none;
  border-radius: 4px;
}

/* .pricing__container-card:nth-child(2) {
  transform: scale(1.05);
  background: #242424;
} */

.pricing__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #e75e28;
}

/* .pricing__container-card:nth-child(2) {
  margin: 0 24px;
} */

.pricing__container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* .pricing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
} */


.pricing__container-cardInfo {
  /* display: flex;
  flex-direction: column; */
  height: 100px;
  padding: 20px;
  align-items: center;
  color: #fff;
}


.pricing__container-cardInfo p {
  font-size: 40px;
  margin-bottom: 24px;
}

.pricing__container-features {
  margin: 16px 0 32px;
  list-style: none;
}

.pricing__container-features li {
  margin-bottom: 10px;

}

.pricing__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 20px;
  padding: 10px;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #c0c0c0;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0.5px;
}

.icon p{
  color: black;
  font-size: 15px;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .pricing__container-cardInfo {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 300px;
  }

  .pricing__container-card {
    width: 70%;

  }

  /* .pricing__container-card:nth-child(2) {
    transform: scale(1);
    background: #242424;
    margin: 24px;
  }

  .pricing__container-card:hover {
    transform: none;
  } */
}
