  .col {
    width: 100%;
    flex-basis: 100%;
  }

  
  .top-line {
    color: #67843C;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .heading {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 100;
    color: #f7f8fa;
  }
  
  
  
.farm-img {
    border: 0;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 30px;
  }

  .farm-btn{
    padding: 12px 20px;
    font-size: 18px;
    margin: 20px;
  }

 .farmTitle{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   
 }

 .farm-info{
   margin-top: 25px;
   line-height: 25px;
 }

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}


@media screen and (max-width: 768px) {

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}




  