  .col {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 70%;
    flex-basis: 50%;
  }

  .home__hero-text-wrapper {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
   
  }
  
  .top-line {
    color: #67843C;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .heading {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 100;
    color: #f7f8fa;
  }
  
  
  .home__hero-subtitle {
    max-width: 440px;
    font-size: 18px;
    line-height: 10px;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 30px;
  }

  .farm-btn{
    padding: 12px 20px;
    font-size: 18px;
    margin: 20px;
  }

 .farmTitle{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   
 }

 .farm-info{
   margin-top: 25px;
 }
 

  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }


  
@media screen and (max-width: 768px) {
  
    .col { 
      max-width: 100%;
      flex-basis: 100%;
    }
    .home_hero-text-wrapper{
      padding-bottom: 10px;
    }
  }
  